name: Build the lib

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r22b

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Install latest stable Rust
      uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: stable

    - uses: Swatinem/rust-cache@v1

    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

    - name: Install Cargo targets
      run: rustup target add aarch64-linux-android armv7-linux-androideabi x86_64-linux-android i686-linux-android

    - name: Build
      run: ./gradlew lib:assemble

    - name: Instrumentation Tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        profile: Galaxy Nexus
        api-level: 30
        script: ./gradlew appmock:connectedCheck

    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
        name: instrumentation-test-results
        path: ./appmock/build/reports/androidTests/connected/**

    - name: Publish Debug
      uses: actions/upload-artifact@v2
      with:
        name: debug-lib
        path: ./lib/build/outputs/aar/lib-debug.aar

    - name: Publish Release
      uses: actions/upload-artifact@v2
      with:
        name: release-lib
        path: ./lib/build/outputs/aar/lib-release.aar
